@media screen and (max-width: 320px){
    .block-scope-container{
        height: 61% !important;
        // height: 355px !important;
    }

    .dashboard-page-chart{
        height: 100%;
    }

    .dashboard-page{
        height: 96%;
    }

    #testcalender {
        height: 50vh !important;
    }
}