@media screen and (max-width: 414px) {

    // .abs-login__box-position-right .box-layer-form .box-login-form{
    //     width: 350px;
    //     padding: 15px;
    //     margin-left: 9%;
    //     margin-top: 46%;
    //   }
    .badgeContent {
        text-align: center !important;
    }

    .contentFill {

        // padding: 0.6% 0px 0px 2.5% !important;
        &__nextaction {
            text-align: center !important;
        }
    }

    .CommisionIcon {
        max-width: 33% !important;
    }

    .column-left {
        width: 100% !important;
    }

    .column-right {
        margin: auto !important;
    }

    .bedge-container {
        overflow-x: scroll !important;
    }

    .notification {
        &__icon {
            max-width: 10% !important;
        }
    }

    .text-field-search {
        width: 100% !important;
    }

    .col-right {
        max-width: 100% !important;
    }
}