/**
*
* GLOBAL COLOR
*
*/
$white: #FFFFFF;
$black: #000000;

/**
*
* ABSOLUTE CONNECTION COLOR STANDARD
*
*/
$green-dark: #414a11;
$grey-dark: #1C1C1C;
$grey-dark-medium: #252525;
// $grey: #5f6360;
$light-grey: #f0f0f0;

$grey: #424242;
$red: #F50404;
$blue: #0680FF;
$orange: #F99500;
$green: #2C9D05;