// @font-face {
//   font-family: 'Poppins';
//   src: url('../../segoe/SegoeUI.eot');
//   src: url('../../segoe/SegoeUI.eot?#iefix') format('embedded-opentype'),
//       url('../../segoe/SegoeUI.woff2') format('woff2'),
//       url('../../segoe/SegoeUI.woff') format('woff'),
//       url('../../segoe/SegoeUI.ttf') format('truetype'),
//       url('../../segoe/SegoeUI.svg#SegoeUI') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'Poppins';
  src: url('assets/fonts/poppins/poppins-v15-latin-regular.eot');
  src: url('assets/fonts/poppins/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
      url('assets/fonts/poppins/poppins-v15-latin-regular.woff2') format('woff2'),
      url('assets/fonts/poppins/poppins-v15-latin-regular.woff') format('woff'),
      url('assets/fonts/poppins/poppins-v15-latin-regular.ttf') format('truetype'),
      url('assets/fonts/poppins/poppins-v15-latin-regular.svg#poppins-v15-latin-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}